.App {
  width: 100%;
  margin: 2;
  margin-top: 5px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.slick-slide > div {
  margin: 2 2px;
}
.slick-list {
  margin: 1 0px;
}

.card {
  /* border: 0px solid #fff; */
  margin: 20px;
  border: 2px solid #ededed;
  box-shadow: 0px 10px 8px #727f7e;
  cursor: pointer;
  max-width: 80%;
  overflow: hidden;
  width: 15vw !important;
  height: 40vh;
  color: #fff;
  cursor: pointer;
}

.card-top h3 {
  font-size: 0.5rem;
  margin-top: 1vh;
  width: 300px;
  color: #007777;
  margin-left: 5vw;
}

.card-top h2 {
  font-size: 0.5rem;
  margin-top: 1vh;
  width: 300px;
  color: #007777;
  margin-left: 5vw;
}

.card-top > img {
  width: 100%;
  object-fit:fill;
  height: 60%;
 
  
}

.card-bottom {
  margin: 10px 20px;
}

.location {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.location-icon {
font-size: 0.8rem;
}


.tests{
  background-color: #17f0de;
  width: 100%;
  padding: 1rem;
  margin-top: 10vh;
}
.category {
  position: fixed;
}
